

body {
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}

header h1 {
    background-color: ;
    color: rgb(168, 164, 164);
    font-size: 40px;
}

header li {
    position: relative;
    left: 600px;
    display: inline-block;
    padding: 20px;
    
}

.mack {
    background-color: ;
    color: rgb(75, 73, 73);
} 

p {
    font-size: 18px;
    width: 50%;
}

.img-mack {
    display: inline-block;
    position: relative;
    left: 800px;
 }

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}

.sections {
    display: flex;
    margin-left: 100px;
}

.topics {
    padding: 50px;
    margin: 20px;
    font-size: 30px;
    text-align: left;
}

