* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --backcolor: rgb(211, 211, 219);
    --roundcorner: 10px;
}

body {
    background-color:rgb(208, 208, 214);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

header h1 {
    color: rgb(161, 161, 161);
    font-size: 40px;
}

header li {
    display: inline-block;
    padding: 20px;
}

/*color specified for part of name in header*/
.mack {
    color: rgb(75, 73, 73);
} 

a:hover {
    background-color: rgb(236, 215, 219);
}

/*all four sections*/
section {
    margin: 50px;
    border: solid white;
    box-shadow: 0 0 10px 5px white;
    border-radius: var(--roundcorner);
    margin-left: 100px;
    background-color: rgb(169, 169, 194);
}


#about-me > div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
}

section p {
    padding: 30px; 
}

.topics {
    padding: 30px;
    font-size: 30px;
    text-align: left;
    color: rgb(255, 255, 255);
}

#about-me p {
    display: flex;
    align-items: center;
    background-color: var(--backcolor);
    border-radius: var(--roundcorner);
    line-height: 1.2;
    flex: 1 0 0;
    font-size: 18px;
}

.img-mack {
    flex: 1 0 0;
}

.work-topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
}

.work {
    border: solid var(--backcolor);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.work img {
    height: 200px;
    width: 200px;
    object-fit: cover; 
}

.work:hover {
    opacity: 1.0;
}

/* all images */
#prework, #payroll, #blog, #task, #weather, #project {
    height: 200px;
    width: 200px;
}

.label {
    background-color: var(--backcolor);
    color: black;
    padding: 10px;
}

#contact p {
    font-style: italic;
    font-size: 18px;
    line-height: 1.6;
    border-radius: var(--roundcorner);
    color: rgb(114, 74, 83);
    background-color:  var(--backcolor);
    width: 100%;
}

#resume p {
    color:  rgb(114, 74, 83);
    font-size: 22px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

/* responsive to mobile devices */

@media screen and (max-width: 1400px) {
    header h1 {
        margin-top: 20px;
        font-size: 25px;
    }

    header ul {
        font-size: 12px;
        position: relative;
        left: 20px;
    }

    section {
        margin: 5%;
    }

    #about-me > div {
        flex-direction: column;
    }

    #about-me p {
        margin-bottom: 20px;
    }

    .img-mack {
        margin-top: 20px;
        width: 100%; 
    }

    .work-topics {
        flex-direction: column;
        align-items: center;
    }

    .img-challenge {
        margin-bottom: 20px;
        width: 100%; 
    }
}

@media screen and (max-width: 1400px) {
    #about-me > div {
        margin-left: 10px;
        margin-right: 10px;
    }
}