

body {
    background-color: pink;
}

header {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    background-color: ;
    color: rgb(168, 164, 164);
}

header li {
    position: relative;
    left: 600px;
    display: inline-block;
    padding: 20px;
    
}

.mack {
    background-color: ;
    color: rgb(75, 73, 73);
} 

aside {
    background-color: white;
    margin-left: 50px;
    width: 20%;
    display: inline-block;
}

.aside-topics {
    padding: 80px;
}

.main {
    background-color: white;
    width: 70%;
    display: inline-block;
}

