* {
    background-color: pink;
}

body {
    background-color: hotpink;
}

a {
    color: black;
}

p {
    color: black;
    font-size: 16px;
}

header {
    background-color: white;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: white;
    color: grey;
}

.mack {
    background-color: white;
    color: rgb(94, 90, 90);
}

header nav {
    
}

header li {
    position: relative;
    left: 800px;

}