

body {
    background-color: pink;
}

header {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    background-color: ;
    color: rgb(168, 164, 164);
}

header li {
    position: relative;
    left: 600px;
    display: inline-block;
    padding: 20px;
    
}

.mack {
    background-color: ;
    color: rgb(75, 73, 73);
}  

.main {
    background-color: white;
    margin-left: 50px;
    display: inline-block;
    width: 20%;
   
}

.main-topics {
    padding: 70px;
}

aside {
    display: inline-block;
    padding: 80px;
    width: 60%;
}

aside div {
    padding: 50px;
}

aside p {
    font-size: 18px;
}
